:root {
    font-size: 62.5%;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #dfeeff;
}

.container {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    max-width: 70rem;
}

h1 {
    color: #56a5eb;
    font-size: 5.4rem;
    margin-bottom: 5rem;
}

h2 {
    font-weight: 700;
    font-size: 4rem;
    margin-bottom: 4rem;
}

.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.btn {
    font-size: 1.8rem;
    padding: 1rem 0;
    width: 20rem;
    text-align: center;
    border: 0.1rem solid #56a5eb;
    margin-bottom: 1rem;
    text-decoration: none;
    color: #56a5eb;
    background-color: white;
}

.btn:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 rgba(86, 185, 235, 0.5);
    transform: translateY(-0.1rem);
    transition: transform 150ms;
}

.btn[disabled]:hover {
    cursor: not-allowed;
    box-shadow: none;
    transform: none;
}

.choice-container {
    display: flex;
    margin-bottom: 0.5rem;
    width: 100%;
    font-size: 1.8rem;
    border: 0.1rem solid rgba(86, 165, 235, 0.25);
    background-color: white;
}


.choice-container:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 rgba(86, 185, 235, 0.5);
    transform: translateY(-0.1rem);
    transition: transform 150ms;
}

.choice-prefix {
    padding: 1.5rem 2.5rem;
    background-color: #56a5eb;
    color: white;
}

.choice-text {
    padding: 1.5rem;
    width: 100% ;
}

.correct {
    background-color: #32a832;
}

.incorrect {
    background-color: #d83131;
}

.hud {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}

.hud-prefix {
    text-align: center;
    font-size: 2rem;
}

.hud-main-text {
    text-align: center;
}

.progressBar {
    width: 20rem;
    height: 4rem;
    border: 1px solid #56a5eb;
    margin: 10px 0px 25px 0px;
}

.progressBar-full {
    background-color: #56a5eb;
    height: 3.8rem;
    width: 0%;
}

#end {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

form {
    display: flex;
    align-items: center;
    flex-direction: column;
}

input {
    margin-bottom: 1rem;
    width: 20rem;
    font-size: 1.8rem;
    padding: 1.5rem;
    border: none;
    box-shadow: 0 0.1rem 1.4rem 0 rgba(86, 185, 235, 0.5);
}

input::placeholder {
    color: #aaa;
}

#highScores {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#highScoresList{
    list-style: none;
    padding-left: 0;
    margin-bottom: 4rem;
}

.high-score {
    font-size: 2.8rem;
    margin-bottom: 0.5rem;
}

.high-score:hover {
    transform: scale(1.025);
}

#loader {
    width: 12rem;
    height: 12rem;
    border-radius: 50%;
    border: 1.6rem solid white;
    border-top: 1.6rem solid #56a5eb;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360%);
    }
}